
## Cert Manager
letsencrypt_email  = ""
letsencrypt_server = ""

## Traefik
source_range = ""
source_range_ext = ""

## Global
timezone        = ""
domain  = ""
master_hostname = ""
master_ip = ""

## DNS
token = ""


## ArgoCD
gh_username = ""
gh_token = ""

## Rtorrent
vpn_config = ""

## Plex
allowed_networks = ""
plex_claim_token = ""

## Keys
api_keys = {
    radarr_key = "key"
    sonarr_key = "key"
    prowlarr_key = "key"
    tautulli_key = "tautulli-key"
    bazarr_key = "key"
    plex_key = "key"
    portainer_key = "key"
    jellyseerr_key = "key"
    pihole_key = "key"
    jellyfin_key = "key"
    sabnzbd_key = "key"
    discord_webhook_url = "key"
    kwatch_discord_webhook_url = "key"
    authelia_JWT_TOKEN = "key"
    authelia_SESSION_ENCRYPTION_KEY = "key"
    authelia_STORAGE_ENCRYPTION_KEY = "key"
    crowdsec_enrollment_key = "key"
}

## Components
use_sandbox = false
use_longhorn = true