[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pyyaml = "*"
streamlit-card = "*"
streamlit-extras = "*"
python-hcl2 = "*"
python-terraform = "*"

[dev-packages]

[requires]
python_version = "3.10"
